<li class='http-operation' {{action 'selectMethod'}}>
    <div class='clearfix' >
        <div class='method http-{{method.httpMethod}} pull-left'>
            {{method.httpMethod}}
        </div>
        <div class='description'>
            {{method.summary}}
        </div>
    </div>


</li>
