
<div class='clearfix' {{action 'selectMethod' bubbles=false}} >
    <div class='method http-{{method.httpMethod}} pull-left'>
        {{method.httpMethod}}
    </div>
    <div class='description'>
        {{method.summary}}
    </div>
</div>
