@import "constants.less";
@import "api_tree.less";
@import "request.less";

body{
    overflow:hidden;
}

#mainContent{

    position: fixed;
    left: @sidebar-width;
    top: 0px;
    bottom: 0;
    right:0;
    overflow:auto;
}

body, html {
    height: 100%;
}

#info-button{
    position: absolute;
    right:10px;
    top:10px;
    font-size: 24px;
}

#api-info {
    background-color:white;
    max-width:33%;
    color:black;
    position:absolute;
    right:0;
    z-index:100000;
    height:50%;
    box-shadow: -10px 10px 5px -7px #888888;
    border-radius:0px;

    button{
        margin-left:10px;
    }

    label{
        margin-left:5px;
    }
    pre{
        margin-left:10px;
        margin-right:10px;
        max-width:100%;
    }
}


#get-started{
    margin-top:50px;
    margin-left: 20px;
}

.tab-content{
    padding-left:15px;
    padding-right:15px;
}

#api-loading{
    margin:20px;
}

.parameter-row{
    margin-bottom:5px;
}
