.operation-uri {
    font-family: @font-family-secondary;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.25;

    .text-overflow;
    direction: rtl;
    text-align: left;
}

#requestParamsHeader {

    margin-top:10px;
    margin-left:10px;

    div{
        margin-right:10px;
    }

    label{
        font-size:24px;
    }

    .http-method{
        text-transform: uppercase;
    }

    input{
        width:450px;
    }
}

.ace_editor{
    height: 400px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.response-status{
    font-weight:bold;
}
.response-status-200{
    color: green;
}

.response-status-300{
    color: purple;
}

.response-status-400{
    color: #FB6100;
}

.response-status-500{
    color: red;
}

.response-status-000{
    color: orange;
}

.model-definition-container{
    overflow-y:scroll;
    height:400px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.model-definition{
    margin-bottom:3px;
}

.body-row{
    max-height: 400px;
}

pre,code {
   white-space: pre-line;
}
